h1{
  font-size: 3rem;
  text-transform: capitalize;
}

.btn:hover{
  background-color: aquamarine;
}

body{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

div{
  align-items: center;
  justify-content: center;
}